* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

svg {
    max-width: 400px;
    filter: drop-shadow(0px 0px 0px rgba(247, 247, 247, 0)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));

    animation: xbox-shadow 12s ease 0s forwards;
}

#symbol {
    opacity: 0;
    animation: xbox-symbol 7s ease 7s forwards;
}

#x1, 
#b,
#o,
#x2 {
    animation: xbox-text 7s ease 0s forwards;
}

@keyframes xbox-text {
    0% {
        fill-opacity: 0;
        stroke-dasharray: 0 1000;
        stroke-width: 0;
        stroke-dashoffset: 0;
        opacity: 1;
        transform: translate3d(0, -110px, 0);
    }

    30% {
        fill-opacity: 0;
        stroke-dasharray: 150 0;
        stroke-width: 1;
        stroke-dashoffset: 0;
        opacity: 1;
        transform: translate3d(0, -110px, 0);
    }

    60%, 90% {
        fill-opacity: 1;
        stroke-dasharray: 150 0;
        stroke-width: 0;
        stroke-dashoffset: 0;
        opacity: 1;
        transform: translate3d(0, -110px, 0);
    }

    100% {
        fill-opacity: 0;
        stroke-dasharray: 150 0;
        stroke-width: 0;
        stroke-dashoffset: 0;
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes xbox-symbol {
    0% {
        fill-opacity: 0;
        stroke-dasharray: 0 1000;
        stroke-dashoffset: 0;
        stroke-width: 0;
        opacity: 1;
        transform: translate3d(0, 70px, 0);
    }

    70% {
        fill-opacity: 0;
        stroke-dasharray: 150 0;
        stroke-dashoffset: 0;
        stroke-width: 1;
        opacity: 1;
        transform: translate3d(0, 70px, 0);
    }

    100% {
        fill-opacity: 1;
        stroke-dasharray: 150 0;
        stroke-width: 0;
        stroke-dashoffset: 0;
        opacity: 1;
        transform: translate3d(0, 70px, 0);
    }
}

@keyframes xbox-shadow {
    0%,20% {
        filter: drop-shadow(0px 0px 0px rgba(247, 247, 247, 0)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
    }

    40%,50% {
        filter: drop-shadow(0px 4px 36px rgba(247, 247, 247, 0.35)) drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.9));

    }

    75% {
        filter: drop-shadow(0px 0px 0px rgba(247, 247, 247, 0)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
    }

    100% {
        filter: drop-shadow(0px 4px 35px rgba(247, 247, 247, 0.35)) drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.9));
    }
}